@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    

  }

@layer base {
    html {
      font-family: ReaderPro, system-ui;

    }
  }


  /* bg 132b3a */
body {
    color: white;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    
}
.dark-bg-trans {
    background-color: #0000002a;
    backdrop-filter: blur(1rem);

}
 
  /* border-right: 1px solid #1e1e1e; */
.white-border-line{
    border-bottom: .1px solid rgba(255, 255, 255, 0.233);
}
.ent-page {
    /* background-color: #2b4162;
background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */

background-color: #0d171b;
    background-size: cover;

}  

.main-menu {
    /* color: #1e1e1e; */
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1.8;
    letter-spacing: .2px;
    font-weight: 300;
    /* From https://css.glass */
    background: rgba(18, 22, 34, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(18, 22, 34, 0.1);

}




.box {
    
    border-radius: 10px;
    background-color: #132b3a93 ;
    border: .3px solid #4a6171;
    /* background-color: rgba(44, 128, 143, 0.212); */
}






.single-p-m p span {
    font-weight: 500;
}
.single-p-m p {
    font-size: .72rem;

}



.sma {
    font-size: .5rem;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.active {
    border-bottom: 1px solid #fff ;
}

.menu {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 60vw;
    border-radius: 12px;
    
    left: 50%;
    transform: translateX(-50%);
     height: 8vh;
    /* background-color: rgba(21, 75, 85, 0.384); */
    align-items: center;
    justify-content: space-around;

    background-color: #9b9b9b1a;
    backdrop-filter: blur(6px);
    background-image: linear-gradient(127deg, #0000002d 0%, #ffffff17 80%);
    background-color: #132b3a93 ;
            
}

.menu li {
    /* border: 1px solid rgba(42, 134, 150, 0.87);
    color: rgba(42, 134, 150, 0.877); */


    font-size: .8rem;
    background-color: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    box-shadow:
  
    0 0 20px rgba(255, 255, 255, 0.582),           
    -1px 0 20px rgba(230, 230, 230, 0.26),       
    1px 0 20px rgba(236, 236, 236, 0.26); 

  


    
}



/* admin page */



.user-main {
    width: 100vw;
  
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    gap: 1em;
    padding: 1rem 2rem;
}

.user-page {
    display: flex;
    justify-content: space-around;
}

.user-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.form {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .4rem;
    gap: .5rem;
}
.form p span {
    background-color: pink;
}
.form button {
    background-color: pink;
}
.form select {
    background-color: pink;
}


.n {
    color: white;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
   
    width: 90vw;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    
    background-color: #9b9b9b1a;
    backdrop-filter: blur(6px);
    background-image: linear-gradient(127deg, #0000002d 0%, #ffffff17 80%);
    background-color: #132b3a93 ;
}

.address {

    display: flex;

    font-size: .9rem;
    line-height: 1.7;
    
      /* position: absolute;
      top: 5%;
      right: 0; */
  }

.glowy {

}  
.inp {
    background-color: blue;

}