@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;

  }

@layer base {
    html {
      font-family: ReaderPro, system-ui;

    }
  }


 
  /* border-right: 1px solid #1e1e1e; */

.ent-page {
    background-image: url("../../public/bj2.jpg");
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
}  

.package-page {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1rem;
    /* padding-block: 3rem;
    padding-inline: 2rem; */

}

.main-menu {
    display: flex;
    /* color: #1e1e1e; */
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1.8;
    letter-spacing: .2px;
    font-weight: 300;
    /* From https://css.glass */
background: rgba(18, 22, 34, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(18, 22, 34, 0.1);

}

.main-window {
  
    width: 100%;
    min-height: 10vh;
    max-height: 50vh;
    overflow-y: scroll;
    color: white;
    font-size: .8rem;
    letter-spacing: .2px;
    font-weight: 300;

    /* From https://css.glass */
/* From https://css.glass */
background: rgba(18, 22, 34, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.4px);
-webkit-backdrop-filter: blur(2.4px);
border: 1px solid rgba(18, 22, 34, 0.03);
    
}


.boxes {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;

    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.box {
    display: flex;
    min-height: 5rem;
    width: 95%;
    margin: auto;
    border-radius: 10px;

 
     background-color: rgba(44, 128, 143, 0.212);
}

.single-p-img {
    display: grid ;
    place-content: center;
    padding: 1rem;
 
    

}
.single-p-img img {
   width: 4rem;
   
}

.single-p-m {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    align-items: start;
    justify-content: space-around;
    gap: .1rem;

   

}

.single-p-m p span {
    font-weight: 500;
}
.single-p-m p {
    font-size: .72rem;

}

.address {

  text-align: right;
  padding-right: 1rem;
  font-size: .9rem;
  line-height: 1.7;
  
    /* position: absolute;
    top: 5%;
    right: 0; */
}

.sma {
    font-size: .5rem;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.active {
    border-bottom: 1px solid #fff ;
}

.menu {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 80vw;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%);
     height: 10vh;
    background-color: rgba(21, 75, 85, 0.384);
    align-items: center;
    justify-content: space-around;
}

.menu li {
    border: 1px solid rgba(42, 134, 150, 0.87);
    color: rgba(42, 134, 150, 0.877);
    padding: .5rem 1rem;
    font-size: .7rem;
    cursor: pointer;
    border-radius: 10px;


    
}



/* admin page */



.user-main {
    width: 100vw;
  
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    gap: 1em;
    padding: 1rem 2rem;
}

.user-page {
    display: flex;
    justify-content: space-around;
}

.user-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.form {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .4rem;
    gap: .5rem;
}
.form p span {
    background-color: pink;
}
.form button {
    background-color: pink;
}
.form select {
    background-color: pink;
}
